# Python Data Structures and Boolean

- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets

## Boolean Variables

Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

# Lists

A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

# SETS

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

# Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

## List Functions

In [1]:
L = ['Mathematics', 'chemistry', 100, 200, 300, 204]

- Append

In [2]:
# Append is used to add elements in the list
L.append("physics")
L

['Mathematics', 'chemistry', 100, 200, 300, 204, 'physics']

In [3]:
L[1:6]

['chemistry', 100, 200, 300, 204]

- Insert

In [4]:
# Inserts in a specific Order
L.insert(2, "english")
L

['Mathematics', 'chemistry', 'english', 100, 200, 300, 204, 'physics']

- Extend Method

In [5]:
L.extend([343, 729])
L

['Mathematics',
 'chemistry',
 'english',
 100,
 200,
 300,
 204,
 'physics',
 343,
 729]

- Various Operations that we can perform in List

In [6]:
L = [1, 2, 3, 4, 5]

In [7]:
sum(L)

15

In [8]:
L*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

- Pop Method

In [9]:
L.pop()
L

[1, 2, 3, 4]

In [10]:
L.pop(0)
L

[2, 3, 4]

- count(): Calculates total occurrence of given element of List

In [11]:
L = [1, 2, 3, 4, 4, 5]
L.count(4)

2

In [12]:
# index(): Returns the index of first occurrence. Start and End index are not necessary parameters
L.index(4,1,4)

3

In [13]:
min(L)

1

In [14]:
max(L)

5

## Sets

A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table. There is no indexing in sets.

In [15]:
# Defining empty sets

set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [16]:
set_var = {"Avengers", "Ironman", "Hitman"}
print(set_var)
print(type(set_var))

{'Ironman', 'Avengers', 'Hitman'}
<class 'set'>

In [17]:
# Inbuilt functions in sets

set_var.add("Hulk")
print(set_var)

{'Ironman', 'Avengers', 'Hitman', 'Hulk'}

In [18]:
set1 = {"Avengers", "Ironman", "Hitman"}
set2 = {"Avengers", "Ironman", "Hitman", "Antman"}

In [19]:
set2.intersection(set1)

{'Avengers', 'Hitman', 'Ironman'}

In [20]:
set2

{'Antman', 'Avengers', 'Hitman', 'Ironman'}

In [21]:
set2.intersection_update(set1)
set2

{'Avengers', 'Hitman', 'Ironman'}

In [22]:
set3 = {"Avengers", "Ironman", "Thor"}
set4 = {"Avengers", "Ironman", "Thor", "Spiderman"}

In [23]:
set4.difference(set3)

{'Spiderman'}

In [24]:
set4

{'Avengers', 'Ironman', 'Spiderman', 'Thor'}

In [25]:
set4.difference_update(set3)
set2

{'Avengers', 'Hitman', 'Ironman'}

## Dictionaries

A dictionary is a collection which is unordered, changeable and indexed. In Python dictionaries are written with curly brackets, and they have keys and values.

In [26]:
dic = {}

In [27]:
type(dic)

dict

In [28]:
set5 = {1, 2, 3, 4, 5}

In [29]:
type(set5)

set

In [30]:
type(dict())

dict

In [31]:
## Let create a dictionary

my_dict={"Car1": "Audi", "Car2":"BMW","Car3":"Mercidies Benz"}

In [32]:
type(my_dict)

dict

In [33]:
my_dict['Car1']

'Audi'

In [34]:
# We can even loop throught the dictionaries keys

for x in my_dict:
    print(x)

Car1
Car2
Car3

In [35]:
# We can even loop throught the dictionaries values

for x in my_dict.values():
    print(x)

Audi
BMW
Mercidies Benz

In [36]:
# We can also check both keys and values
for x in my_dict.items():
    print(x)

('Car1', 'Audi')
('Car2', 'BMW')
('Car3', 'Mercidies Benz')

In [37]:
my_dict['Car1']='Tata'

In [38]:
my_dict

{'Car1': 'Tata', 'Car2': 'BMW', 'Car3': 'Mercidies Benz'}

In [39]:
my_dict['Car4']='Mahindra'

In [40]:
my_dict

{'Car1': 'Tata', 'Car2': 'BMW', 'Car3': 'Mercidies Benz', 'Car4': 'Mahindra'}

### Nested Dictionary

In [41]:
car1_model={'Mercedes':1960}
car2_model={'Audi':1970}
car3_model={'Ambassador':1980}

car_type={'car1':car1_model,'car2':car2_model,'car3':car3_model}

In [42]:
print(car_type)

{'car1': {'Mercedes': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [43]:
## Accessing the items in the dictionary

print(car_type['car1'])

{'Mercedes': 1960}

In [44]:
print(car_type['car1']['Mercedes'])

1960

## Tuples

In [45]:
## create an empty Tuples

my_tuple=tuple()

In [46]:
type(my_tuple)

tuple

In [47]:
my_tuple=()

In [48]:
type(my_tuple)

tuple

In [49]:
my_tuple=("Abhinav","Ankur","John")

In [50]:
# my_tuple=('Hello','World')

In [51]:
print(type(my_tuple))
print(my_tuple)

<class 'tuple'>
('Abhinav', 'Ankur', 'John')

In [52]:
type(my_tuple)

tuple

In [53]:
## Inbuilt function
my_tuple.count('Abhinav')

1

In [54]:
my_tuple.index('Ankur')

1