# Functions in Python

- Why Functions
- Function Defination
- Positional and Keyword Arguments in Functions

In [1]:
num = 24
if num%2==0:
    print("The number is even")
else:
    print("The number is odd")

The number is even

In [2]:
def odd_even(num):
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

In [3]:
odd_even(24)

The number is even

In [4]:
# Print vs Return
def hello_world():
    print("Hello World!")

In [5]:
hello_world()

Hello World!

In [6]:
var1 = hello_world()

Hello World!

In [7]:
print(var1)

None

In [8]:
def hello_World():
    return "Hello World!!"

In [9]:
var2 = hello_World()

In [10]:
print(var2)

Hello World!!

In [11]:
def add_number(num1, num2):
    return num1 + num2

In [12]:
val3 = add_number(34, 66)

In [13]:
val3

100

In [14]:
# name -> Positional Argument
# age -> Keyword Argument (As we have given a default value)
def hello(name, age=20):
    print("My name is {} and age is {}".format(name, age))

In [15]:
hello("Abhinav")

My name is Abhinav and age is 20

In [16]:
def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [17]:
hello("Abhinav", "Agrawal", age=20, dob=2002)

('Abhinav', 'Agrawal')
{'age': 20, 'dob': 2002}

In [18]:
lst=[1,2,3,4,5,6,7]

In [19]:
def evenoddsum(lst):
    even_sum = 0
    odd_sum = 0
    for i in lst:
        if i%2==0:
            even_sum = even_sum + i
        else:
            odd_sum = odd_sum + i
    return even_sum, odd_sum

In [20]:
evenoddsum(lst)

(12, 16)